/Array/Array.iml
/out
/.idea/compiler.xml
/Concept/Concept.iml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/SpringFramework/bin
/SpringFramework/.settings/*.prefs
/SpringFramework/*.project
/SpringFramework/*.classpath
/SpringDependencyInjection/bin
/SpringDependencyInjection/*.project
/SpringDependencyInjection/*.classpath
/SpringAutowire/bin
/SpringAutowire/*.project
/SpringAutowire/*.classpath
/JavaAutomationTool/bin
/JavaAutomationTool/*.project
/JavaAutomationTool/*.classpath
/JavaAutomationTool/target
/JavaAutomationTool/Decompiled
